<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dynamic Picture</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DpsFullScreen.css" rel="stylesheet" />

    @{
        Html.RenderPartial("~/Views/Shared/_ScriptsInclude.cshtml");
    }

</head>
<body>


    @RenderBody()

</body>

</html>